<?php

// @codingStandardsIgnoreFile
/** @var Magento\Customer\Block\Account\Customer $block */
?>
<?php if($block->customerLoggedIn()): ?>
    <li class="customer-status" data-bind="scope: 'chebotaryov_customer_status'">
        <!-- ko if: chebotaryov_customer_status().customer_status  -->
        <span data-bind="text: chebotaryov_customer_status().customer_status"></span>
        <!-- /ko -->
        <!-- ko ifnot: chebotaryov_customer_status().customer_status  --><!-- /ko -->
        <script type="text/x-magento-init">
        {
            "*": {
                "Magento_Ui/js/core/app": {
                    "components": {
                        "chebotaryov_customer_status": {
                            "component": "Chebotaryov_CustomerStatus/js/view/chebotaryov-customer-status"
                        }
                    }
                }
            }
        }
        </script>
    </li>
<?php endif; ?>
